/* slider component style */
.sliderNameContainer {
  width: 50vw;
}

.sliderNameContainer > input {
  width: 100%;
}
.SliderRange {
  display: flex;
  justify-content: space-between;
}
.sliderMinMax {
  display: flex;
  justify-content: space-between;
}
.sliderMinMax > p {
  margin-bottom: 0.5rem;
  font-size: small;
  color: rgb(203, 203, 203);
}

/* heading */

h4 {
  margin-bottom: 10px;
}
