*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* AppSliderAndDropDownContainer */
.AppSliderAndDropDownContainer{
  display: flex;
}

/* header */
header>h1{
  padding:20px;
  background-color: rgb(4, 157, 253);
  margin-bottom: 2rem;;
  color:white;
}
